<!DOCTYPE html>
<html>
  <head>
    <title>{{ username }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    {% if not request.github.authorized %}
      <div>Please, <a href="{% url 'login' %}">log in</a>.</div>
    {% else %}
      <aside>
        <img src="{{ avatar_url }}" alt="Avatar">
        <h1>{{ username }}</h1>
      </aside>
      <section>
        <table>
          <tbody>
            {% for repo in repos %}
              <tr>
                <td>
                  <a href="{{ repo.html_url }}">{{ repo.name }}</a>
                  <p>{{ repo.description }}</p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    {% endif %}
    <footer>
      Created by <a href="https://github.com/artemiy312">Artemiy Rodionov</a>, source code: <a href="https://github.com/artemiy312/wemake-services">https://github.com/artemiy312/wemake-services</a>.
    </footer>
  </body>

</html>
